.color-nav {
  background: var(--nav-bg);
  color: var(--nav-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-form {
  display: flex;
  align-items: center;
  border: none;


  input {
    border-radius: 8px;
    background-color: var(--nav-color);
    color: var(--nav-color);
    border: none;
  }

  .form-control {
    background-color: var(--input-bg);
    color: var(--nav-color);
    max-height: 25px;
    box-shadow: none;
  }

  button {
    border: none;
    border-radius: 4px;
  }

}

.search-form .form-control::placeholder {
  color: var(--nav-color);
  opacity: 1;
}

.btn-icon {
  background: var(--nav-bg);
  color: var(--nav-color);
  border: none;
}

.dropdown-menu {
  background: var(--sidebar-bg);
  color: var(--text-color);
  border-radius: 8px;
  padding: 4px 0;
  min-width: 100px;
  box-shadow: 0 6px 18px rgba(0,0,0,.25);
}

.dropdown-item {
  background: transparent;
  color: var(--text-color);
  transition: background .12s;
}

.dropdown-menu .dropdown-header {
  color: var(--text-color);
}

.dropdown-menu .dropdown-header i {
  color: var(--text-color) !important;
}

:host-context(.dark-theme) .dropdown-menu {
  border: 1px var(--sidebar-bg);
  box-shadow: 0 6px 20px rgba(0, 0, 0, .55);
}