.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-header {
    height: 64px; // Altura del header
    flex-shrink: 0;
  }

  .content {
    display: flex;
    flex: 1; // El contenido ocupa el resto del espacio
    overflow: hidden;

    app-sidebar {
      width: 260px; // Ancho del sidebar
      flex-shrink: 0;
      background-color: var(--sidebar-bg);
    }

    .main-content {
      flex: 1; // El contenido principal ocupa el resto del espacio
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }
}