<div class="btn-group mb-3">
  <button (click)="changeView(GanttViewType.day)"
          [disabled]="currentViewType === GanttViewType.day"
          class="btn"
          [ngClass]="currentViewType === GanttViewType.day ? 'btn-primary' : 'btn-primary'">
    {{ 'gantt.view.day' | translate }}
  </button>
  <button (click)="changeView(GanttViewType.week)"
          [disabled]="currentViewType === GanttViewType.week"
          class="btn"
          [ngClass]="currentViewType === GanttViewType.week ? 'btn-primary' : 'btn-primary'">
    {{ 'gantt.view.week' | translate }}
  </button>
  <button (click)="changeView(GanttViewType.month)"
          [disabled]="currentViewType === GanttViewType.month"
          class="btn"
          [ngClass]="currentViewType === GanttViewType.month ? 'btn-primary' : 'btn-primary'">
    {{ 'gantt.view.month' | translate }}
  </button>
  <button (click)="changeView(GanttViewType.quarter)"
          [disabled]="currentViewType === GanttViewType.quarter"
          class="btn"
          [ngClass]="currentViewType === GanttViewType.quarter ? 'btn-primary' : 'btn-primary'">
    {{ 'gantt.view.quarter' | translate }}
  </button>
  <button (click)="changeView(GanttViewType.year)"
          [disabled]="currentViewType === GanttViewType.year"
          class="btn"
          [ngClass]="currentViewType === GanttViewType.year ? 'btn-primary' : 'btn-primary'">
    {{ 'gantt.view.year' | translate }}
  </button>
</div>
  <ngx-gantt [viewType]="currentViewType"
            [groups]="groups"
            [items]="items"
            [start]="start"
            [end]="end"
            [linkable]="true">
<ngx-gantt-table>
  <ngx-gantt-column [name]="'gantt.columns.title' | translate" width="300px">
    <ng-template #cell let-item="item">
      {{ item.title }}
    </ng-template>
  </ngx-gantt-column>
</ngx-gantt-table>
</ngx-gantt>