
@import 'bootstrap/scss/bootstrap';

:root {
  --background-color: #f5f5f5;
  --text-color: #222;
  --nav-bg: #2b216a;
  --nav-color: #fff;
  --sidebar-bg: #fcfcfc;
  --sidebar-color: #333;
  --bot-bg: #2b216a;
}

.dark-theme {
  --background-color: #181818;
  --text-color: #f5f5f5;
  --nav-bg: #222222;
  --nav-color: #fff;
  --sidebar-bg: #222222;
  --sidebar-color: #fff;
  --bot-bg: #2b216a;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}